:root {
    --color-background: #121212;
    --color-light-background: #141414;
    --color-primary-box: #181818;

    --color-contrast-primary: #E20749;

    --color-title-primary: #efefef;
    --color-text-primary: #bdbdbd;

    --color-btn-call-primary: #E20749;
    --color-btn-call-secondary: #181818;
}

/* Main Heading */

.project-heading {
    padding: 50px 0;
    background-color: var(--color-background);
}

.project-content h1 {
    font-size: 3.4rem;
    color: var(--color-title-primary);
    margin-bottom: 1.6rem;
}

.project-content p {
    color: var(--color-text-primary);
    font-size: .9rem;
    font-weight: 400;
    width: 50%;
    margin-bottom: 1.6rem;
}


/* Project Presentation */


.project-presentation {
    width: 100%;
    padding: 100px 0;
}

.project-presentation img {
    width: 100%;
    margin: -4px 0;
}

@media (max-width: 767px) {
    .project-content p {
        width: 100%;
    }
}