:root {
    --color-background: #121212;
    --color-light-background: #141414;
    --color-primary-box: #181818;

    --color-contrast-primary: #E20749;

    --color-title-primary: #efefef;
    --color-text-primary: #bdbdbd;

    --color-btn-call-primary: #E20749;
    --color-btn-call-secondary: #181818;
}

/* Golbal Styles */


@font-face {
    font-family: 'Carmen Sans Heavy';
    font-style: normal;
    font-weight: normal;
    src: local('Carmen Sans Heavy'), url('../fonts/carmen-sans/Carmen Sans Heavy.woff') format('woff');
    }

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-light-background);
    color: #f4f4f1;
    font-family: 'Poppins';
}

.container {
    min-width: 991px;
    max-width: calc(100vw - 300px);
    display: block;
    margin: 0 auto;
}

@media(max-width: 767px) {
    .container {
        min-width: 100%;
    }
}   

/* Global --> btn */
.btn {
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    transition: 300ms ease-out;
    color: var(--color-text-primary);
    text-decoration: none;
}

.btn-cta {
    text-decoration: none;
    color: var(--color-text-primary);
    background-color: var(--color-btn-call-secondary);
}

.btn-cta:hover {
    background-color: var(--color-light-background);
}

.btn-budget {
    background-color: var(--color-btn-call-primary);
}

/* Formatação da Nav */
header {
    background-color: var(--color-background);
}

.header {
    min-height: 100px;
    display: flex;
}

.nav-logo {
    display: flex;
}

.nav-logo img {
    width: 2.8rem;
}

.nav-menu {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
}

.nav-links ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-links ul li {
    margin-left: 30px;
}

.nav-links ul li .link-btn::after {
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 2px;
    display: inline-block;
    background-color: #E20749;
    margin-left: 2.5px;
}

.nav-links ul li a {
    color: var(--color-text-primary);
    text-decoration: none;
    font-size: 1.04rem;
}


/* Formatação Main - Hero Section */

.hero-section {
    display: flex;
    flex-wrap: wrap;
}

.hero {
    width: 50%;
}

.hero-right {
    display: flex;
    flex-direction: column;
}

.hero h3 {
    font-size: 1rem;
    color: var(--color-text-primary);
}

.hero h1 {
    font-size: 3.4rem;
    width: 65%;
    line-height: 110%;
    color: var(--color-title-primary);
    margin-bottom: 20px;
}

.hero p {
    color: var(--color-text-primary);
    font-size: .8rem;
    font-weight: 400;
    margin-bottom: 20px;
}

/* Social Icons */

.hero-right .social-icons {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    justify-content: space-between;
    height: 60%;
}

main {
    background-color: var(--color-background);
    padding: 50px 0;
}
