:root {
    --color-background: #121212;
    --color-light-background: #141414;
    --color-primary-box: #181818;

    --color-contrast-primary: #E20749;

    --color-title-primary: #efefef;
    --color-text-primary: #bdbdbd;

    --color-btn-call-primary: #E20749;
    --color-btn-call-secondary: #181818;
}


/* Golbal Styles */


@font-face {
    font-family: 'Carmen Sans Heavy';
    font-style: normal;
    font-weight: normal;
    src: local('Carmen Sans Heavy'), url('../fonts/carmen-sans/Carmen Sans Heavy.woff') format('woff');
    }

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-light-background);
    color: var(--color-title-primary);
    font-family: 'Poppins';
}

.container {
    width: 86vw;
    max-width: 1099px;
    display: block;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--color-title-primary);
    line-height: 110%;
    margin: 0;
    padding: 0;
}

/* Global --> btn */
.btn {
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    transition: 300ms ease-out;
    color: var(--color-text-primary);
    text-decoration: none;
}

.btn-cta {
    text-decoration: none;
    color: var(--color-text-primary);
    background-color: var(--color-btn-call-secondary);
}

.btn-cta:hover {
    background-color: var(--color-light-background);
}

.btn-budget {
    background-color: var(--color-btn-call-primary);
    color: var(--color-title-primary) !important;
}

img.btn-icon { /* Formats the icon in the buttons */
    height: 12px;
    vertical-align: middle;
    margin-left: .9rem;
}

/* Formatação da Nav */
header {
    background-color: var(--color-background);
}

.header {
    min-height: 100px;
    display: flex;
}

.nav-logo {
    display: flex;
}

.nav-logo img {
    width: 2.8rem;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
}

.nav-links ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-links ul li {
    margin-left: 2.2rem;
}

.nav-links ul li .link-btn::after {
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 2px;
    display: inline-block;
    background-color: #E20749;
    margin-left: 2px;
}

.nav-links ul li a {
    color: var(--color-text-primary);
    text-decoration: none;
    font-size: .9rem;
}


/* Formatação Main - Hero Section */

main {
    background-color: var(--color-light-background);
    height: calc(100vh - 100px);
}

.main-section {
    background-color: var(--color-background);
}

.hero-section {
    display: flex;
    padding-top: 3.4rem !important;
    padding-bottom: 3.4rem !important;
}

.hero-left {
    width: 90%;
}

.hero-right {
    width: 10%;
    display: flex;
    flex-direction: column;
}

.hero h3 {
    font-size: 1rem;
    color: var(--color-text-primary);
    margin-bottom: .8rem;
}

.hero h1 {
    font-size: 3.4rem;
    width: 65%;
    color: var(--color-title-primary);
    margin-bottom: 1.6rem;
}

.hero p {
    color: var(--color-text-primary);
    font-size: .9rem;
    font-weight: 400;
    margin-bottom: 1.6rem;
}

/* Social Icons */

.hero-right .social-icons {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    justify-content: space-between;
    height: 60%;
}

/* Projects Section */

.projects-heading {
    display: flex;
    margin-bottom: 3.6rem;
    margin-top: .4rem;
}

.title {
    width: 80%;
}

.title h2 {
    font-size: 2.2rem;
    color: var(--color-title-primary);
}

.budget-projects {
    width: 20%;
    text-align: end;
}

/* Projects Collection */

.projects-collection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "post post post" "post post post";
    grid-gap: 60px;
}

.post-card .link-post {
    grid-area: post;
    display: grid;
    overflow: hidden;
    border-radius: 5px;
}

.post-card .link-post img {
    width: 100%;
    border-radius: 5px;
    transition: all 600ms ease-in-out;
}

.post-card .link-post img:hover {
    transform: scale(1.035);
}

/* How do I work - My workflow */

.how-work {
    margin-top: 120px;
    margin-bottom: 120px;
}

.how-work .how-heading {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 3.6rem;
}

.how-work .how-heading .how-title {
    min-width: 40%;
}

.how-title h2 {
    font-size: 2.2rem;
}

.how-work .how-heading .side-text {
    min-width: 60%;
    flex: 1 1;
}

.side-text p {
    font-size: .9rem;
    color: var(--color-text-primary);
}

.how-work .how-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.how-work .how-boxes .how-item {
    min-width: 220px;
    width: calc(100% / 4 - 1rem);
    border-radius: 5px;
}

.how-work .how-boxes .how-item .how-top {
    height: auto;
    padding: 1.86rem 1.12rem;
    background-color: var(--color-primary-box);
}

.how-work .how-boxes .how-item .how-body {
    min-height: 200px;
    padding: 1.86rem 1.12rem;
    background-color: var(--color-background);
}

.how-top h3 {
    color: var(--color-title-primary);
    margin-bottom: .4rem;
}

.how-top h4 {
    font-weight: 400;
    color: var(--color-text-primary);
}

.how-top h4 img {
    vertical-align: middle;
    float: right;
}

.how-body p {
    font-size: .9rem;
    color: var(--color-text-primary);
    line-height: 150%;
    font-weight: 400;
}


/* Advantages Section*/

.advantages-section {
    margin-bottom: 120px;
}

.advantages-heading {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 3.6rem;
}

.advantages-title {
    min-width: 40%;
}

.advantages-title h2 {
    font-size: 2.2rem;
    color: var(--color-title-primary);
}

.advantages-text {
    min-width: 60%;
    flex: 1 1;
}

.advantages-text p {
    color: var(--color-text-primary);
    font-size: .9rem;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.advantage-item {
    flex: 0 1 calc(50% - 1.3rem);
    background-color: var(--color-primary-box);
    padding: 1.6rem;
    margin-bottom: 2.6rem;
}

.advantage-item h3 {
    margin-bottom: 1.8rem;
}

.advantage-item p {
    color: var(--color-text-primary);
    font-weight: 400;
    font-size: .9rem;
}



/* Lets Talk */
.lets-talk {
    margin-bottom: 3.6rem;
}

.lets-talk .letstalk-heading {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3.6rem;
}

.lets-talk .letstalk-heading .talk-title {
    width: 40%;
}

.talk-title h2 {
    font-size: 2.2rem;
}

.lets-talk .letstalk-heading .talk-text {
    min-width: 60%;
    flex: 1 1;
}

.talk-text p {
    font-size: .9rem;
    color: var(--color-text-primary);
}

.talk-text a {
    color: var(--color-contrast-primary);
}

.talk-value p {
    font-size: 2rem;
    color: var(--color-text-primary);
    font-style: oblique;
}




/* Footer */

footer {
    background-color: var(--color-background);
    height: auto;
    padding: 1.86rem 0;
}

.footer-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-list .list-links {
    display: flex;
    list-style: none;
}

.page-list .list-links li {
    margin-right: 20px;
}

.page-list .list-links li a {
    text-decoration: none;
    color: var(--color-text-primary);
    font-size: .9rem;
}

.page-list .list-links li a:hover {
    text-decoration: underline var(--color-contrast-primary);
    color: var(--color-text-primary);
}

.page-list .list-links li a.budget {
    color: var(--color-contrast-primary);
}
.copyright p {
    color: var(--color-text-primary);
    font-weight: 400;
    font-size: .9rem;
}

.copyright p img {
    width: .9rem;
    margin: 0 5px;
}

