/* Global Responsive */

/* Root */

@media (min-width: 1620px) {
    :root {
        font-size: 130%;
    }
}

@media (min-width: 1440px) {
    :root {
        font-size: 120%;
    }
}

/* Responsive Containers */

@media (min-width: 1440px) {
    .container {
        min-width: 991px;
        max-width: calc(100vw - 190px);
    }
}

@media (max-width: 1024px) {
    /* How work responsive */

    .how-work .how-boxes .how-item {
        width: calc(100% / 2 - 1rem);
        margin-bottom: 2rem;
    }
}

@media (max-width: 991px) {
    .container {
        width: 100%;
        padding: 0 2rem;
    }
}

@media(max-width: 767px) {
    .container {
        width: 100%;
        padding: 0 2rem;
    }
}

@media (min-width: 600px) {
    .mobile-nav {
        display: none;
    }
}

@media (max-width: 600px) {

    .header {
        min-height: 0px;
    }

    .nav-menu {
        display: none;
    }

    .mobile-nav {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 60px;
        background-color: var(--color-background);
        display: flex;
        overflow-x: auto;
    }

    .__nav-link {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        min-width: 50px;
        overflow: hidden;
        white-space: nowrap;
        font-family: "Poppins";
        color: #bdbdbd;
        font-size: 12px;
        text-decoration: none;
    }

    .nav-budget {
        background-color: var(--color-background);
    }

    .__nav-link img {
        width: 32px;
        padding: 5px;
        background-color:  var(--color-primary-box);
        border-radius: 3px;
    }

    .nav-budget img {
        background-color: var(--color-contrast-primary);
    }

    /* Hero Affected by nav changes */

    .main-section {
        margin-top: -3rem;
    }

    .hero p {
        width: 70%;
    }

    /* How work */

    .how-work .how-boxes .how-item {
        width: 100%;
        margin-bottom: 2rem;
    }

    /* Advantages List */

    .advantage-item {
        flex: 0 1 100%;
    }

    /* Footer on nav mobile */

    footer {
        background-color: var(--color-primary-box);
        height: auto;
        padding: 1.86rem 0;
        padding-bottom: 5rem;
    }
}

@media(max-width: 460px) {
    .container {
        width: 100%;
        padding: 0 1rem;
    }
}








/* Hero Section */

@media (max-width: 768px) {

    main {
        height: 100vh;
    }

    .hero-section {
        flex-direction: column-reverse;
        padding-top: 3.4rem !important;
        padding-bottom: 3.4rem !important;
    }

    .hero-left {
        width: 100%;
    }

    .hero h3 {
        margin-bottom: 1.8rem;
    }

    .hero h1 {
        margin-bottom: 2.6rem;
    }

    .hero p {
        margin-bottom: 2.6rem;
    }

    .hero-right {
        width: 100%;
        flex-direction: row;
        margin-bottom: 3rem;
    }

    .hero-right .social-icons {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 64px;
    }

    .hero-right .social-icons a {
        margin-right: 30px;
    }
}

@media (max-width: 450px) {
    .hero-right .social-icons {
        justify-content: space-between;
    }
    .hero-right .social-icons a {
        margin-right: 0;
    }

    .hero p {
        width: 100%;
    }
}

@media (max-width:350px) {
    .hero h1 {
        font-size: 2.4rem;
        margin-bottom: 1.6rem;
    }
}





/* Responsive Projects Section */


@media (max-width: 991px) {
    .projects-collection {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "post post" "post post";
    }
}

@media (max-width: 600px) {
    .projects-collection {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "post" "post";
    }

    .projects-heading {
        display: flex;
        margin-bottom: 3.6rem;
        flex-direction: column;
        margin-top: .4rem;
    }

    .title {
        width: 100%;
        margin-bottom: 2rem;
}

    .budget-projects {
        width: 100%;
        text-align: initial;
    }
}



/* How Work Responsive*/
@media (max-width: 991px) {
    .how-work .how-heading .how-title {
        width: 100%;
        margin-bottom: 1rem;
    }

    .advantages-title {
        min-width: 100%;
        margin-bottom: 1rem;
    }

    .lets-talk .letstalk-heading .talk-title {
        width: 100%;
        margin-bottom: 1rem;
    }
}





@media (max-width: 991px) {
    .footer-body {
        flex-direction: column-reverse;
        justify-content: space-between;
        min-height: 150px;
    }
}

