/* Global Responsive */

/* Root */

@media (min-width: 1620px) {
    :root {
        font-size: 130%;
    }
}

@media (min-width: 1440px) {
    :root {
        font-size: 120%;
    }
}

/* Responsive Containers */

@media (min-width: 1440px) {
    .container {
        min-width: 991px;
        max-width: calc(100vw - 190px);
    }
}

@media (max-width: 991px) {
    .container {
        width: 100%;
        padding: 0 2rem;
    }
}

@media(max-width: 767px) {
    .container {
        width: 100%;
        padding: 0 2rem;
    }
}

@media(max-width: 460px) {
    .container {
        width: 100%;
        padding: 0 1rem;
    }
}







/* Responsive Projects Section */


@media (max-width: 991px) {
    .projects-collection {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "post post" "post post";
    }
}

@media (max-width: 600px) {
    .projects-collection {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "post" "post";
    }

    .projects-heading {
        display: flex;
        margin-bottom: 3.6rem;
        flex-direction: column;
        margin-top: .4rem;
    }

    .title {
        width: 100%;
    }

    .budget-projects {
        width: 100%;
        text-align: initial;
    }
}



/* How Work Responsive*/
@media (max-width: 991px) {
    .how-work .how-heading .how-title {
        width: 100%;
        margin-bottom: 1rem;
    }

    .advantages-title {
        min-width: 100%;
        margin-bottom: 1rem;
    }

    .lets-talk .letstalk-heading .talk-title {
        width: 100%;
        margin-bottom: 1rem;
    }
}



@media (max-width: 991px) {
    .footer-body {
        flex-direction: column-reverse;
        justify-content: space-between;
        min-height: 150px;
    }
}

